.title {
  font-size: clamp(1.5rem, 3vw + 1rem, 3rem);
  color: #333;
}

.logo-link {
  display: inline-block;
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.page {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.bottom {
  margin-top: auto;
}
