.table {
  margin-top: 20px;
  margin-bottom: 0;

  &__preview {
    width: 25px;
    height: 25px;
    opacity: 0.5;

    &.liked {
      opacity: 1;
    }

    &--full {
      opacity: 1;
      width: 64px;
      height: 64px;
    }
  }
}
