<div *ngIf="emojiList" class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>имя</th>
        <th>ссылка</th>
        <th>превью</th>
        <th>действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emoji of emojiList" [class.liked]="emoji.liked">
        <th>{{ emoji.name }}</th>
        <td>
          <a [href]="emoji.url" target="_blank">{{ emoji.url }}</a>
        </td>
        <td>
          <ng-template #tipContent>
            <img [src]="emoji.url" class="table__preview table__preview--full" style="width: 64px; height: 64px;"
              alt="">
          </ng-template>
          <img [ngbTooltip]="tipContent" tooltipClass="image-tooltip" [src]="emoji.url" alt="" class="table__preview">
        </td>
        <td>
          <div *ngIf="!emoji.liked && !emoji.deleted" class="d-flex gap-1 flex-wrap">
            <button title="delete" (click)="emojiStore.deleteEmoji(emoji)"
              class="table__btn btn btn-outline-secondary btn-sm flex-grow-1">
              <span class="icon" style="background-image: url(../../../assets/icons/trash.svg);"></span>
            </button>
            <button title="like" (click)="emojiStore.likeEmoji(emoji)"
              class="table__btn btn btn-outline-secondary btn-sm flex-grow-1">
              <span class="icon" style="background-image: url(../../../assets/icons/like.svg);"></span>
            </button>
          </div>

          <div *ngIf="emoji.liked">
            <button title="unlike" (click)="emojiStore.unlikeEmoji(emoji)"
              class="d-flex justify-content-center btn btn-outline-secondary btn-sm w-100">
              <span class="icon" style="background-image: url(../../../assets/icons/unlike.svg);"></span>
            </button>
          </div>

          <div *ngIf="emoji.deleted">
            <button (click)="emojiStore.restoreEmoji(emoji)"
              class="btn btn-outline-success btn-sm w-100">восстановить</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-table-pagination></app-table-pagination>
